@inherits LayoutComponentBase

<PageTitle>sample</PageTitle>

<div class="page">
   
    <div class="sidebar">
        <Sidebar />
    </div>

    <main>
        <div class="">
            <Navbar />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
