
<!-- Navbar.razor -->
<nav class="bg-white">
    <div class="border shadow-sm p-4">
        <div class="flex justify-end items-end">
         <h1>Admin</h1>
        </div>
    </div>
</nav>


@code {

}
