<!-- Sidebar.razor -->
<div class="bg-gray-800 text-white w-full h-screen flex flex-col">

    <!-- Sidebar Header -->
    <div class="bg-gray-900 p-4 text-xl font-semibold">HRIS</div>

    <!-- Sidebar Content -->
    <div class="flex-grow p-4 overflow-y-auto">
        <!-- Add your sidebar content here -->
        <ul>
            <li class="mb-4">
                <a href="dashboard" class="text-white hover:text-gray-300">Dashboard</a>
            </li>
            <li class="mb-4">
                <a href="#" class="text-white hover:text-gray-300">Profile</a>
            </li>
            <li class="mb-4">
                <a href="#" class="text-white hover:text-gray-300">Messages</a>
            </li>
            <!-- Add more links as needed -->
        </ul>
    </div>

    
</div>


@code {

}
