@page "/dashboard"

<div class="p-0">
    <div class="bg-blue-700 opacity-75 p-2 px-4 py-2 rounded-sm">
        <h1 class="text-white font-normal text-lg">Data Privacy Act</h1>
        <p class="text-white text-sm italic mt-2">The Local Government Unit of Maco recognized its responsibilities under Republic Act No. 10173, also known as the Data Privacy Act (DPA) with respect to the data it collects, records, organize, update, use, consolidate or destruct from the public. The personal data obtained is entered and stored within LGU - MACO authorized information and communication system and shall be accessed by LGU - MACO authorized personnel. The information collected and stored in LGU - MACO system shall be used only for the following purposes:</p>
        <p class="text-white text-sm italic mt-2">
            1. Processing/Scrutinizing of data use during the Human Resource Management Personnel Selection Board (HRM-PSB) Interview;
        </p> 
        <p class="text-white text-sm italic">
            2. Sending of letters to the applicant
        </p> 
        <p class="text-white text-sm italic">
            3. Consolidating of HRM - PSB results
        </p>     
        <p class="text-white text-sm italic">
            4. 4. Reporting of documents related to the Recruitment Selection and Placement (RSP) process and
        </p>
        <p class="text-white text-sm italic">
            5. Other actions necessary for the exercise of LGU - MACO mandate under the law.
        </p>
    </div>


    
    <div class="grid grid-cols-3 gap-2 mt-[5rem]"> 
        <div class="border border-gray-400 shadow p-3">
            <h1 class="text-xl font-bold">Vacant Positions</h1>
            <h1 class="mt-2 text-lg font-semibold">1</h1>
        </div>
        <div class="border border-gray-400 shadow p-3">
            <h1 class="text-xl font-bold">Applied Positions</h1>
            <h1 class="mt-2 text-lg font-semibold">1</h1>
        </div>
        <div class="border border-gray-400 shadow p-3">
            <h1 class="text-xl font-bold">Archived Positions</h1>
            <h1 class="mt-2 text-lg font-semibold">1</h1>
        </div>
    </div>
</div>

@code {

}
